<md-toolbar layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span>Table Details</span>
      </div>
 <md-card>
  <md-card-title>
    <md-card-title-media>
      <div class="md-media-sm card-media" layout>
        <md-icon md-svg-icon="person" ></md-icon>
      </div>
    </md-card-title-media>
    <md-card-title-text>
      <span class="md-headline">Hotel Admin</span>
      <span class="md-subhead description">RadhaKrishna Hotel</span>
    </md-card-title-text>
  </md-card-title>
</md-card>
</md-toolbar>

<div layout-gt-sm="row" layout="row">
 <div flex-gt-sm="30" flex>
     <md-content>
      <md-list flex>
       <md-subheader class="md-no-sticky">Table Waiting  More Than 5 mins</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="table in tableListSRC" ng-click="null">
          <img  class="md-avatar" alt="{{table.value}}" />
          <div class="md-list-item-text" layout="column">
            <h3>Table No : {{ table.value }}</h3>
            <h4> Sorry For Delay</h4>
            <p>Serving to You is our Priority</p>
             <md-progress-linear md-mode="indeterminate" class={{table.status}}></md-progress-linear>
          </div>
          <md-divider ></md-divider>
        </md-list-item>
    </md-list>
    </md-content>
  </div>
   <div flex-gt-sm="30" flex>
     <md-content>
      <md-list flex>
      <md-subheader class="md-no-sticky">Table Waiting More  Than 3 mins</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="table in tableListSRM" ng-click="null">
          <img  class="md-avatar" alt="{{table.value}}" />
          <div class="md-list-item-text" layout="column">
            <h3>Table No : {{ table.value }}</h3>
            <h4> Be patience With Us</h4>
            <p>We will listen to you</p>
             <md-progress-linear md-mode="indeterminate" class={{table.status}}></md-progress-linear>
          </div>
          <md-divider ></md-divider>
        </md-list-item>
    </md-list>
    </md-content>
  </div>
  <div flex-gt-sm="30" flex>
     <md-content>
      <md-list flex>
      <md-subheader class="md-no-sticky">Table Recently Rquested</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="table in tableListSR" ng-click="null">
          <img  class="md-avatar" alt="{{table.value}}" />
          <div class="md-list-item-text" layout="column">
            <h3>Table No : {{ table.value }}</h3>
            <h4> We will attend you soon</h4>
            <p> Be ready With Your Order</p>
             <md-progress-linear md-mode="indeterminate" class={{table.status}}></md-progress-linear>
          </div>
          <md-divider ></md-divider>
        </md-list-item>
    </md-list>
    </md-content>
  </div>
</div>