

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="assets/images/logo-recon.png" alt="" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>


	
	  <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
			<div class="shadow dark-grey m-height-b">
           
		   <table class="table">
    <thead>
      <tr>
        <th>Table ID</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>012</td>
        <td>
		<span class="amber">Avaiable</span>
		<span class="id">RECON-342</span>
		</td>
        <td class="action">
		<a href="#" title="Edit" data-toggle="modal" data-target="#myModal"><img src="assets/images/icon-edit.png" alt="" /></a>
		<a href="#" title="Remove"><img src="assets/images/icon-delete.png" alt="" /></a>
		</td>
      </tr>
      <tr>
        <td>012</td>
        <td>
		<span class="amber">Avaiable</span>
		<span class="id">RECON-342</span>
		</td>
        <td class="action">
		<a href="#" title="Edit" data-toggle="modal" data-target="#myModal"><img src="assets/images/icon-edit.png" alt="" /></a>
		<a href="#" title="Remove"><img src="assets/images/icon-delete.png" alt="" /></a>
		</td>
      </tr>
	  
	        <tr>
        <td>012</td>
        <td>
		<span class="amber">Avaiable</span>
		<span class="id">RECON-342</span>
		</td>
               <td class="action">
		<a href="#" title="Edit" data-toggle="modal" data-target="#myModal"><img src="assets/images/icon-edit.png" alt="" /></a>
		<a href="#" title="Remove"><img src="assets/images/icon-delete.png" alt="" /></a>
		</td>
      </tr>
	  
	        <tr>
        <td>012</td>
        <td>
		<span class="amber">Avaiable</span>
		<span class="id">RECON-342</span>
		</td>
               <td class="action">
		<a href="#" title="Edit" data-toggle="modal" data-target="#myModal"><img src="assets/images/icon-edit.png" alt="" /></a>
		<a href="#" title="Remove"><img src="assets/images/icon-delete.png" alt="" /></a>
		</td>
      </tr>
    </tbody>
  </table>
		   
			</div>
          </div>
		  
		 <div class="col-lg-3 col-md-6 col-sm-6">
			<div class="shadow blue block m-height-b mb-4">
            <h2>RECENT CALL <span>(in last 1 Mins)</span></h2>
			
			<div class="row">
			
			<div class="col-md-6">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-6">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>	
			
			
						<div class="col-md-6">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-6">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			
						<div class="col-md-6">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-6">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			
						<div class="col-md-6">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-6">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			
						<div class="col-md-6">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-6">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>


			
			</div>
			
			
			</div>
          </div>
		  
		  
		   <div class="col-lg-5 col-md-12 col-sm-12">
			<div class="shadow warning block m-height-s">
            <h2>PAST CALL <span>(in last 3 Mins)</span></h2>
			
			<div class="row">
			<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
						<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
				
			</div>
			
			</div>
			
			<!-- Block 4 -->
			<div class="shadow danger block m-height-s mt-4">
            <h2>PAST CALL <span>(in last 5 Mins & more)</span></h2>
			
			<div class="row">
			<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
						<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
			
			<div class="col-md-3">
			<div class="button-block">
			<button type="button" class="btn btn-primary">03</button>
			<span class="lbl">0:45 Mins</span>
			</div>
			</div>
						
			</div>
			
			</div>
			
			
          </div>
		  
        </div>
      </div>
    </section>

	<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Recon ID</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       <form action="/#">
  <div class="form-group">
    <label for="email">Table ID</label>
    <input readonly="readonly" value="012" type="text" class="form-control" id="table">
  </div>
  <div class="form-group">
    <label for="pwd">Recon ID</label>
    <input type="text" value="RECO-34512" class="form-control" id="id">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>

    </div>
  </div>
</div>

