<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>RECON - Dashbaord</title>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
<link href="css/login.css" rel="stylesheet">
</head>

<body>
<div id="bg"> </div>

<div class="pagewarp">
<div id="login-titile">  <img src="images/login-icon.png" alt=""></div>
<div class="form-cont"> 
	<input type="text" class="user" placeholder="User Name" />
    <input type="password" class="user" placeholder="Password" />
    <button type="button" class="btn login-btn">Log In</button>
    <p class="reset-pass"><a href="#"> Reset Password </a> </p>

</div>

</div>

<div class="bott-logo">
<img src="images/bt-bottom-logo.png" alt="">
</div>

</body>
</html>
