  <md-content class="md-padding md-theme-light"  layout="column">

    <md-toolbar>
      <h3>Reckon DashBoard</h3>
    </md-toolbar>

  
  </md-content>


 
 <div class="section"> 
<div layout-gt-sm="row" layout="row">
  <md-card flex-gt-sm="90" flex-gt-md="80">
   <md-card-content>
     <md-content>
      <md-list flex flex-gt-sm="30" >
       <md-subheader class="md-no-sticky">Waiting Table Details</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="table in tableListSRC" ng-click="null">
          <img  class="md-avatar" ng-src="{{table.tableimg}}"/>
          <!-- h1>{{ table.srtime|date:'medium'}}</h1-->
          <div class="md-list-item-text" layout="column">
            	{{table.tableno}} | {{ table.srtime|date:'medium'}}
            	{{ table.time|date:'mm:ss'}} 
             <md-progress-linear  class={{table.status}}></md-progress-linear>
          </div>
           <md-divider ></md-divider>
        </md-list-item>
        
         </md-list>
    </md-content>
   </md-card-content>
</md-card>
</div>
</div>

