 <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="">R-NOTIFY  </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                 		</ul>
                    </div>
                </div>
            </nav>
      
           
        <div  class="jumbotron">
			 <div class="container-fluid">       
		           <div class="row" >
                        <div class="col-md-8" >
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">R-NOTIFY  STATUS</h4>
                                </div>
                                <div class="card-content">
                                      <div class="col-md-3">
                                     <div class="card">
                                      <md-progress-linear  class="md-accent"></md-progress-linear>
                                      <h4 class="title">Dinner Table</h4>
                                      <img  class="md-avatar" ng-src="assets/img/icons/dinnertable.png"/>
                          			  </div>
                       				 </div>
                       				       <div class="col-md-3">
                                     <div class="card">
                                      <md-progress-linear  class="md-accent"></md-progress-linear>
                                      <h4 class="title">Dinner Table</h4>
                                      <img  class="md-avatar" ng-src="assets/img/icons/dinnertable.png"/>
                          			  </div>
                       				 </div>
                       				       <div class="col-md-3">
                                     <div class="card">
                                      <md-progress-linear  class="md-accent"></md-progress-linear>
                                      <h4 class="title">Dinner Table</h4>
                                      <img  class="md-avatar" ng-src="assets/img/icons/dinnertable.png"/>
                          			  </div>
                       				 </div>
                       				       <div class="col-md-3">
                                     <div class="card">
                                      <md-progress-linear  class="md-accent"></md-progress-linear>
                                      <h4 class="title">Dinner Table</h4>
                                      <img  class="md-avatar" ng-src="assets/img/icons/dinnertable.png"/>
                          			  </div>
                       				 </div>
                                    <div class="col-md-3">
                                     <div class="card">
                                      <md-progress-linear  class="md-accent"></md-progress-linear>
                                      <h4 class="title">Dinner Table</h4>
                                      <img  class="md-avatar" ng-src="assets/img/icons/dinnertable.png"/>
                          			  </div>
                       				 </div>
                                      <div class="col-md-3">
                                     <div class="card">
                                     <md-progress-linear  class="md-accent"></md-progress-linear>
                                      <h4 class="title">Service</h4>
                                       <img  class="md-avatar" ng-src="assets/img/icons/service.png"/>
                          			  </div>
                       				 </div>
                       			
                       
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                          <div class="card">
                          <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Advertisement</h4>
                                </div>
                                <div class="card-content">
                                  <video  autoplay loop class="img-responsive">
 									 <source src={{adv.url}} type="video/mp4" />
								   </video>
								 
                                </div>
                            </div>
                              <div class="card">
                          <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Advertisement</h4>
                                </div>
                                <div class="card-content">
                                  <video  autoplay class="img-responsive">
 									 <source src={{adv.url1}} type="video/mp4" />
								   </video>
								 
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
	   </div>