<div class="container">
	<div class="row">
    
    <div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">RECKON Login</h1>
    <form role=form  ng-submit="login()">
      <div class="input-container">
        <input type="text" required ng-model="username" id="username" name="username"  required="required"/>
        <label for="username">Username</label>
        <div class="bar"></div>
      </div>
      <div class="input-container">
        <input type="password"   ng-model="password" id="password" name="password"   required="required"/>
        <label for="password">Password</label>
        <div class="bar"></div>
      </div>
      <div class="button-container">
       <button type="submit"  name="action">  LOGIN</button>
      </div>
      <div class="footer"><a href="#">Forgot your password?</a></div>
  </form> 
  </div>
  </div>
</div>
</div>
