 <md-content  layout="row" layout-align="space-around" layout-padding="layout-padding" class="login-form">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="50">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Login Form</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="loginform" ng-submit="login()">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Login</label>
              <input type="text" name="username" ng-model="username" placeholder="login" required=""/>
              <div ng-messages="loginform.username.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your User name</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Password</label>
              <input type="password" name="password" ng-model="password" placeholder="password" required="" />
              <div ng-messages="loginform.password.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your password.</div>
              </div>
            </md-input-container>
            <md-button ng-disabled="!loginform.$valid" type="submit"  name="action" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>